:root {
  --primary: #49a6e9;
  --secondary: #063251;
  --tertiary: #f1f5f8;
}

.app {
  width: 700px;
  margin: auto;
}

.app .title {
  width: fit-content;
  margin: 70px auto 35px;
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 30px;
}

.app form {
  width: fit-content;
  margin: 35px auto;
  display: flex;
  align-items: center;
}

.app label {
  color: var(--secondary);
  font-size: 20px;
  font-weight: 700;
}

.app input {
  max-width: 50px;
  margin: auto 10px;
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.app button {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 7px;
  text-transform: uppercase;
}

.app p {
  color: var(--secondary);
}
